<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
	<div th:replace="sidebar :: mySidebar"></div>

	<div id="layoutSidenav_content">
		<div class="container">
			<br>
			<hr>

			<!-- Add a row with a column to position the form -->
			<div class="row">
				<div class="col d-flex align-items-start">
					<h2 class="text-center m-4">Import Information</h2>
				</div>
				<div class="col d-flex align-items-end justify-content-end">
					<form class="form-inline" th:action="@{/imports}" method="post" >
						<div class="input-group">
							<input class="form-control" name="refNumber" type="text" placeholder="Declaration reference number..."
								   aria-label="Search" aria-describedby="basic-addon2" />
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" id="import-submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<br><br>
			<!-- Add a row with a column to position the form -->
			<div class="card">
			<div class="table-responsive">

				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>Task Code</th>
						<th>Declaration Date</th>
						<th>Declaration Number</th>
						<th>HS Code</th>
						<th>Item Name</th>
						<th>Package</th>
						<th>Quantity</th>
						<th>Total Weight</th>
						<th>Supplier Name</th>
						<th>Corresponding Sage Item</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<!-- Iterate over itemList from the model -->
					<tbody >
					<tr>
						<td colspan="10" style="color: red; text-align: center;">No Data found</td>
					</tr>
					</tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	</div>

	</div>
</div>
</body>
</html>
