<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
	<div th:replace="sidebar :: mySidebar"></div>
	<!-- Sidebar ends here -->
	<div id="layoutSidenav_content">
		<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
			<div class="text-center">
				<!-- Make the paragraph large -->
				<p class="display-2">Smart Invoicing User Portal</p>
				<!-- Center the anchor tag below the paragraph -->
				<a href="#" class="btn btn-primary btn-lg">Initialize device</a>
			</div>
		</main>
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted"></div>
					<div>
						<a href="#">Privacy Policy</a> &middot; <a href="#">Terms & Conditions</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div th:replace="modal :: myModal"></div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="js/chart-area-demo.js"></script>
<script src="js/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-demo.js"></script>
</body>
</html>
