<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
	<div th:replace="sidebar :: mySidebar"></div>

	<div id="layoutSidenav_content">
		<div class="container">
			<br>

			<hr>

			<!-- Add a row with a column to position the form -->
			<div class="row">
				<div class="col d-flex align-items-start">
					<p class="display-4">Sales</p>
				</div>
				<div class="col d-flex align-items-end justify-content-end">
					<!--<form class="form-inline">
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Invoice number..."
								   aria-label="Search" aria-describedby="basic-addon2" />
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>-->
				</div>

			</div>

			<br><br>
			<div class="table-responsive">
				<h2 class="text-center mb-4">All Failed Sales</h2>
			<table class="table table-bordered table-hover">
				<thead class="thead-dark">
				<tr>
					<th>Invoice Number</th>
					<th>Remarks</th>
					<th>Date</th>
					<th>Actions</th>

				</tr>
				</thead>
				<tbody th:if="${#lists.isEmpty(sales)}">
				<tr>
					<td colspan="10" style="color: red; text-align: center;">No Data found</td>
				</tr>
				</tbody>
				<tbody id="myTable">
				<tr th:each="itemDto : ${sales}">
					<td th:text="${itemDto.invoiceNumber}"></td>
					<td th:text="${itemDto.responseMessage}"></td>
					<td th:text="${itemDto.requestDate}"></td>
					<td><a  th:attr="data-invnumber=${itemDto.invoiceNumber}"
						   class="btn btn-primary resendButton"> Resend </a></td>
				</tr>
				</tbody>
			</table>
		</div>
		</div>

	</div>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" >
		<div class="modal-content mx-auto">
			<div class="modal-body text-center">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<p class="mt-2" id="loadingMessage">Loading, please wait...</p>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.btn.btn-primary.resendButton').click(function() {
			var invNumber = $(this).data('invnumber');

			$.ajax({
				url: 'http://localhost:8000/api/save-sale-single',
				type: 'POST', // Ensure this is set to POST
				contentType: 'application/json', // Set content type to JSON
				data: JSON.stringify({ invnumber: invNumber }),
				success: function(response) {
					alert('Response from server: ' + response);
				},
				error: function(xhr, status, error) {
					alert('Error: ' + error);
				}
			});
		});
		const popUp = document.getElementById('loadStandardCodes')
		if (popUp) {
			popUp.addEventListener('click', function (e) {
				e.preventDefault();
				let loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
				let loadingMessage = document.getElementById('loadingMessage');
				loadingModal.show();
				fetch('http://localhost:8086/create-packaging-unit')
						.then(response => response.json())
						.then(data => {
							// Handle the response (if needed)
							loadingMessage.textContent = data.message
							setTimeout(() => {
								loadingModal.hide();
							}, 2000);
						})
						.catch(error => {
							// Handle errors (if needed)
							console.error(error);

							// Hide the loading modal
							loadingModal.hide();
						});

			})
		}
	});
</script>
</body>
</html>
